extends layout

block content
  .bodyWrapper
    .leftColumn
      each item in h.whatImDoing  
        span= item.title
        span= item.description
        span= item.author
        span= item.date
    .middleColumn
      if user
        h2= 'Welcome to emp[ ]y ' + user.firstName + '.'
      else
        h2= 'Welcome to emp[ ]y'
      iframe(type='text/html' width='640', height='360' src='https://www.youtube.com/embed/OUdsl_sAAVc' frameborder='0')
    .rightColumn
      .newsDiv
        h2.newsH2= 'Technology News'
        each item in h.articles
          .articleWrapper
            .title
              a.newsTitle(href=item.url target='_blank')
                span= item.title
            .description
              span= item.description
            //img(src=item.urlToImage)
            .author
              span= item.author

