extends layout

block content
  .body-wrapper
    .background-video
      .left-empty
      video.top-video(playsinline autoplay loop)
        source(src='img/background.mp4' type='video/mp4')
      .right-empty
    .news-div
      .news-h2-wrapper
        .h2-div
        .h2-div
          h2.newsH2= 'Technology News'
        .h2-div
      each item in h.articles
        .article-wrapper
          //- .image
          //-   img.image--line(src=item.urlToImage)
          .title
            a.newsTitle(href=item.url target='_blank')
              span= item.title
          .description
            span= item.description
          .author
            span= item.author