doctype html
html
  head
    meta(charset='utf-8')
    title= h.siteName
    link(rel='stylesheet', href='/stylesheets/contentBody.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/header.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/templateStyle.css', type='text/css')
  body
    block header
      .header-wrapper
        .header-divs.blank
        .header-divs.colored
          .header-divs-content
            img.logo-img(src='svg/logo.png')
          .color-two
            .color-one
              .header-divs-content.span-width
                span.span-description#span-description= ''
        .header-divs.blank
    block content
      .content-wrapper
        block left
          .left-column
            each item in h.leftColumn
              .left-column--div
                .intro
                  img.me(src=item.img)
                  .intro-me
                    .intro-me-div
                      span= item.name 
                    .intro-me-div
                      span= item.certs
                    .intro-me-div= item.address 
                    .intro-me-div= item.email
                    .intro-me-div#social-icons
                      each item2 in item.social
                        .social-div
                          img.social(src= item2.img)
                  hr
                .intro-links
                  .suggested-links
                  span= 'Suggested Software / Links'
                  each item in h.suggestedLinks
                    a.links(href=item.url target='__blank')
                      li= item.title
                  hr
                .intro-github
                  .github-wrapper
                    span= 'Github Repos'
                    hr
                .intro-portfolio
                  .portfolio-wrapper
                    span= 'Portfolio'
                    hr
        block everything
    block footer
    script(src='js/leftColumn.js')
    script(src='js/header.js')